@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full w-full font-sans;
    }
}

.rcp-saturation {
    border-radius: 0px;
}

.rcp-body {
    background-color: white;
    padding: 20px 0;
}

.rcp-section {
    gap: 20px;
}

.rcp-hue {
    height: 20px;
    border-radius: 100px;
}
.rcp-hue .rcp-hue-cursor {
    height: 28px;
    width: 28px;
    border-radius: 100px;
}

.rcp-alpha {
    height: 20px;
    border-radius: 100px;
}
.rcp-alpha .rcp-alpha-cursor {
    height: 28px;
    width: 28px;
}

.circle-picker > span > div {
    height: 80px !important;
    width: 80px !important;
}
.circle-picker > span > div > span > div {
    border-radius: 20px !important;
}

/*.rcp-saturation-cursor {
    transition: all 0.1s;
}*/

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
